/* Reset de estilos para garantir consistência entre navegadores */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

 /* Estilo do conteúdo */
 .full-width {
    width: 100%;
    overflow-x: auto;
    margin: 20px; /* Adiciona algum espaçamento ao redor da tabela */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px; /* Adiciona espaçamento interno nas células */
    text-align: center; /* Centraliza o texto nas células */
    border: 1px solid #ddd; /* Adiciona bordas para separar as células */
}

th {
    background-color: #343a40;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
.navbar {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

.navbar a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo do conteúdo */
.content {
    padding: 20px;
}

/* Estilo do rodapé */
.footer {
    background-color: #e5e5e5; /* Altere a cor conforme necessário */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Adicionando margem ao conteúdo para evitar que fique sob o rodapé */
.content {
    padding: 20px;
    margin-bottom: 60px; /* Altura do rodapé + algum espaço adicional, se necessário */
}

.action-cell {
    vertical-align: middle; /* Centraliza verticalmente os botões na célula */
}