<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <title>Geolocalização</title>

    <!-- vendor css -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>

    <link href="/static/css/index.css" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

  </head>
  <body class="page-profile">

    <header class="navbar navbar-header navbar-header-fixed">
    <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
        <a href="{% url 'core:index' %}" class="df-logo"><span>Geolocalização</span></a>
        <a href="{% url 'core:list' %}"><span>Alvos</span></a>
    </div>
    </div> 
    </header>
    <div class="content content-fixed mb-2">
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            <div class="row row-xs">
              <div class="col-lg-12">
                {% block content %}
                {% endblock %}
              </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer bg-info">
      <div class="w-100">
        <span>&copy; 2024 Luis Fernando Giglio </span>
      </div>
    </footer>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
